 .wrap {
     padding: 24px;
 }

 .grid {
     display: grid;
     gap: 12px;
     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
 }

 .error {
     color: #c62828;
 }
 mat-card{
    padding: 10px;
 }
 .header{
    display: flex;
    justify-content: space-between  ;
 }